

.button {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    background-color: #1877f2;
    color: #fff;
    transition: all ease 200ms;
}
.button:hover {
    background-color: #d3e6ff;
    color: #1877f2;
}